@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #000000; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
button {
  cursor: pointer;
  
}

.types-btn {
  background-color: #5941BE;
}

.types-btn:hover  {
  background-color: #453394;
}

.types-btn-active {
  background-color: #43318f; 
}
